[Desktop Entry]
Type=Application
Icon=icon-splus-error
Exec=invoker --type=silica-qt5 sailfish-qml harbour-bugger
#Exec=sailjail -p template-app.desktop /usr/bin/sailfish-qml template-app
Name=Bugger
Name[de]=Bugger
Name[en]=Bugger

[X-Sailjail]
ApplicationName=Bugger
OrganizationName=SailfishOS-Chum
Permissions=

#[X-HarbourBackup]
#BackupConfigList=/org/nephros/template-app
#BackupPathList=.local/share/org.nephros.sailfish/TemplateApp/
