[Desktop Entry]
Type=Application
Icon=harbour-bugger
X-Nemo-Application-Type=silica-qt5
Exec=sailfish-qml harbour-bugger
Name=Bugger
Name[de]=Bugger
Name[en]=Bugger


[X-Sailjail]
ApplicationName=Bugger
OrganizationName=sailfishos-chum
#Permissions=Base
