[Unit]
Description=Collect Journal file for Bugger!
Before=harbour-bugger-gather-logs.target
After=lipstick-security-ui.service
Requires=lipstick-security-ui.service

[Service]
Type=oneshot
ProtectSystem=full
ReadWritePaths=%h/Documents
ExecStart=/usr/bin/pkexec /bin/sh -c "\
          /bin/mkdir -p %h/Documents/Bugger; \
          /usr/bin/journalctl --no-hostname --all --quiet --utc --priority=emerg..debug -o short-precise _TRANSPORT=journal | grep -v selinux > %h/Documents/Bugger/$(date -I)_%N.log; \
          /usr/bin/journalctl --no-hostname --all --quiet --utc --priority=emerg..debug -o short-precise -k         > %h/Documents/Bugger/$(date -I)_%N_kernel.log; \
          /usr/bin/chmod 0600  %h/Documents/Bugger/$(date -I)_%N*log; \
          /usr/bin/chown %u    %h/Documents/Bugger/$(date -I)_%N*log; \
"

[Install]
WantedBy=harbour-bugger-gather-logs.target
