[Unit]
Description=Bugger! Collect Jolla gather-logs.sh tarball
Documentation=https://docs.sailfishos.org/Support/Help_Articles/Collecting_Logs/Collect_Persistent_Logs/

Before=harbour-bugger-gather-logs.target
After=lipstick-security-ui.service
Requires=lipstick-security-ui.service

#PartOf=harbour-bugger-gather-logs.target

ConditionPathExists=/_gather_logs_tmp

[Service]
Type=oneshot
ProtectSystem=full
ReadWritePaths=%h/Documents
# see https://github.com/jovirkku/docs.sailfishos.org/blob/master/Support/Help_Articles/Collecting_Logs/Collect_Persistent_Logs/gather-logs.sh
Environment=BUGGER_LOGPATH=%h/Documents/Bugger
Environment=LOG_PACKAGE=jolla-gather-logs.tar.bz2
Environment=GATHER_LOGS_DIR=/_gather_logs_tmp
ExecStart=/usr/bin/pkexec /bin/sh -c "\
    /bin/mkdir -p ${BUGGER_LOGPATH}; \
    /usr/bin/chown %u ${BUGGER_LOGPATH}; \
    /usr/bin/tar cjf "${BUGGER_LOGPATH}/$LOG_PACKAGE" "$GATHER_LOGS_DIR" -C /\
"

[Install]
WantedBy=harbour-bugger-gather-logs.target
