[Unit]
Description=Collect hybris logcat file for Bugger!

After=lipstick-security-ui.service
Requires=lipstick-security-ui.service

# would be nice, but user service can't depend on system service:
# therefore, we use ExecStartPre below instead
# After=aliendalvik.service
# Requisite=aliendalvik.service
# BindsTo=aliendalvik.service

PartOf=harbour-bugger-gather-logs.target

ConditionPathExists=/usr/libexec/droid-hybris/system/bin/logcat

[Service]
Type=oneshot
ProtectSystem=full
ReadWritePaths=%h/Documents
ExecStartPre=/bin/sh -c '/usr/bin/systemctl is-active --quiet droid-hal-init.service'
ExecStart=/usr/bin/pkexec /bin/sh -c "\
    /usr/libexec/droid-hybris/system/bin/logcat -d > %h/Documents/$(date -I)_%N.log; \
    /usr/bin/chmod 0600  %h/Documents/$(date -I)_%N.log; \
    /usr/bin/chown %u    %h/Documents/$(date -I)_%N.log; \
"

[Install]
WantedBy=harbour-bugger-gather-logs.target
