[Unit]
Description=Bugger! Collect Update logs

#Before=harbour-bugger-gather-logs.target
#After=lipstick-security-ui.service
#Requires=lipstick-security-ui.service

#PartOf=harbour-bugger-gather-logs.target

ConditionPathExists=/var/log/systemupdate.log

[Service]
Type=oneshot
ProtectSystem=full
ReadWritePaths=%h/Documents
Environment=BUGGER_LOGPATH=%h/Documents/Bugger
ExecStart=/bin/sh -c "\
    /bin/mkdir -p ${BUGGER_LOGPATH}; \
    /usr/bin/chown %u ${BUGGER_LOGPATH}; \
    cp /var/log/systemupdate.log ${BUGGER_LOGPATH}/$(/usr/bin/date -I)_%N.log; \
    /usr/bin/chmod 0600  ${BUGGER_LOGPATH}/$(/usr/bin/date -I)_%N.log; \
    /usr/bin/chown %u    ${BUGGER_LOGPATH}/$(/usr/bin/date -I)_%N.log; \
"

[Install]
WantedBy=harbour-bugger-gather-logs.target
