[Unit]
Description=Collect Logfiles Bugger! Plugin: %i
Documentation=https://github.com/sailfishos-chum/bugger/blob/master/README_logcollect.md
Documentation=file:///usr/share/harbour-bugger/scripts/README_logcollect.md
Before=harbour-bugger-gather-logs.target

ConditionFileIsExecutable=/usr/share/harbour-bugger/scripts/gather-logs-%i.sh

[Service]
Type=oneshot
ProtectSystem=full
ReadWritePaths=%h/Documents
ExecStart=/bin/sh -c "\
          /usr/share/harbour-bugger/scripts/gather-logs-%i.sh > %h/Documents/$(date -I)_%N.log; \
          /usr/bin/chmod 0600  %h/Documents/$(date -I)_%N.log; \
          /usr/bin/chown %u    %h/Documents/$(date -I)_%N.log; \
"

[Install]
WantedBy=harbour-bugger-gather-logs.target
