[Unit]
Description=Collect Jolla gather-logs.sh basic output for Bugger!
Documentation=https://docs.sailfishos.org/Support/Help_Articles/Collecting_Logs/Collect_Persistent_Logs/

After=lipstick-security-ui.service
Requires=lipstick-security-ui.service

PartOf=harbour-bugger-gather-logs.target

[Service]
Type=oneshot
ProtectSystem=full
ReadWritePaths=%h/Documents
# see https://github.com/jovirkku/docs.sailfishos.org/blob/master/Support/Help_Articles/Collecting_Logs/Collect_Persistent_Logs/gather-logs.sh
Environment=BUGGER_LOGPATH=%h/Documents/Bugger
ExecStart=/usr/bin/pkexec /bin/sh -c "\
    /bin/mkdir -p ${BUGGER_LOGPATH}; \
    for f in /etc/hw-release /etc/sailfish-release /etc/passwd /etc/group; do\
         echo \"====== $f =====\" >> ${BUGGER_LOGPATH}/%N_basic.log \
         cat $f >>  ${BUGGER_LOGPATH}/%N_basic.log \
    done \
    echo \"====== rpm -qa =====\" >> ${BUGGER_LOGPATH}/%N_basic.log \
    rpm -qa | sort >> \"$BUGGER_LOGPATH/%N_basic.log\" \
    echo \"====== ssu lr =====\" >> ${BUGGER_LOGPATH}/%N_basic.log \
    ssu lr >> \"$BUGGER_LOGPATH/%N_basic.log \
    echo \"====== df =====\" >> ${BUGGER_LOGPATH}/%N_basic.log \
    df >> ${BUGGER_LOGPATH}/%N_basic.log \
    echo \"====== df =====\" >> ${BUGGER_LOGPATH}/%N_basic.log \
    mount >> \"$BUGGER_LOGPATH/mount\" \
    echo \"====== mount =====\" >> ${BUGGER_LOGPATH}/%N_basic.log \
    ps >> $BUGGER_LOGPATH/%N_basic.log \" \
    echo \"====== sl -lR /dev =====\" >> ${BUGGER_LOGPATH}/%N_basic.log \
    ps >> $BUGGER_LOGPATH/%N_basic.log \" \
    ls -l -n -R /dev >> \"$BUGGER_LOGPATH/%N_basic.log\" \
    echo \"====== sl -lR /etc =====\" >> ${BUGGER_LOGPATH}/%N_basic.log \
    ls -l -n -R /etc >> \"$BUGGER_LOGPATH/%N_basic.log\" \
"

[Install]
WantedBy=harbour-bugger-gather-logs.target
