[Unit]
Description=Collect hybris logcat file for Bugger!

Before=harbour-bugger-gather-logs.target
After=lipstick-security-ui.service
Requires=lipstick-security-ui.service

# would be nice, but user service can't depend on system service:
# therefore, we use ExecStartPre below instead
# After=aliendalvik.service
# Requisite=aliendalvik.service
# BindsTo=aliendalvik.service

#PartOf=harbour-bugger-gather-logs.target

ConditionPathExists=/usr/libexec/droid-hybris/system/bin/logcat

[Service]
Type=oneshot
ProtectSystem=full
ReadWritePaths=%h/Documents
Environment=BUGGER_LOGPATH=%h/Documents/Bugger
ExecStartPre=/bin/sh -c '/usr/bin/systemctl is-active --quiet droid-hal-init.service'
ExecStart=/bin/sh -c "\
    /bin/mkdir -p ${BUGGER_LOGPATH}; \
    /usr/bin/chown %u ${BUGGER_LOGPATH}; \
    /usr/libexec/droid-hybris/system/bin/logcat -d > ${BUGGER_LOGPATH}/$(/usr/bin/date -I)_%N.log; \
    /usr/bin/chmod 0600  ${BUGGER_LOGPATH}/$(/usr/bin/date -I)_%N.log; \
    /usr/bin/chown %u    ${BUGGER_LOGPATH}/$(/usr/bin/date -I)_%N.log; \
"

[Install]
WantedBy=harbour-bugger-gather-logs.target
