[Unit]
Description=Collect Log files for Bugger!
Documentation=https://github.com/sailfishos-chum/bugger/README_logcollect.md
Documentation=file:///usr/share/harbour-bugger/scripts/README_logcollect.md
DefaultDependencies=no
StopWhenUnneeded=true
After=user-session.target
