[Unit]
Description=Bugger! Collect Log Master
Documentation=https://github.com/sailfishos-chum/bugger/blob/master/README_logcollect.md
Documentation=file:///usr/share/harbour-bugger/scripts/README_logcollect.md
DefaultDependencies=no
StopWhenUnneeded=true
After=user-session.target
