[Unit]
Description=Collect Jolla gather-logs.sh basic output for Bugger!
Documentation=https://docs.sailfishos.org/Support/Help_Articles/Collecting_Logs/Collect_Persistent_Logs/

Before=harbour-bugger-gather-logs.target
After=lipstick-security-ui.service
Requires=lipstick-security-ui.service

#PartOf=harbour-bugger-gather-logs.target

[Service]
Type=oneshot
ProtectSystem=full
ReadWritePaths=%h/Documents
# see https://github.com/jovirkku/docs.sailfishos.org/blob/master/Support/Help_Articles/Collecting_Logs/Collect_Persistent_Logs/gather-logs.sh
Environment=BUGGER_LOGPATH=%h/Documents/Bugger
ExecStart=/usr/bin/pkexec /bin/sh -c "\
    /bin/mkdir -p ${BUGGER_LOGPATH}; \
    /usr/bin/chown %u ${BUGGER_LOGPATH}; \
    for f in /etc/hw-release /etc/sailfish-release /etc/passwd /etc/group; do\
         printf '====== %s =====\n' $f >> ${BUGGER_LOGPATH}/$(/usr/bin/date -I)_%N.log ;\
         cat $f >> ${BUGGER_LOGPATH}/$(/usr/bin/date -I)_%N.log ;\
    done ;\
    printf '====== rpm -qa =====\n' >> ${BUGGER_LOGPATH}/$(/usr/bin/date -I)_%N.log ;\
    rpm -qa | sort >> $BUGGER_LOGPATH/$(/usr/bin/date -I)_%N.log ;\
    printf '====== ssu lr =====\n' >> ${BUGGER_LOGPATH}/$(/usr/bin/date -I)_%N.log ;\
    ssu lr >> $BUGGER_LOGPATH/$(/usr/bin/date -I)_%N.log ;\
    printf '====== df =====\n' >> ${BUGGER_LOGPATH}/$(/usr/bin/date -I)_%N.log ;\
    df >> ${BUGGER_LOGPATH}/$(/usr/bin/date -I)_%N.log ;\
    printf '====== df =====\n' >> ${BUGGER_LOGPATH}/$(/usr/bin/date -I)_%N.log ;\
    mount >> $BUGGER_LOGPATH/mount ;\
    printf '====== mount =====\n' >> ${BUGGER_LOGPATH}/$(/usr/bin/date -I)_%N.log ;\
    ps >> $BUGGER_LOGPATH/$(/usr/bin/date -I)_%N.log ;\
    printf '====== sl -lR /dev =====\n' >> ${BUGGER_LOGPATH}/$(/usr/bin/date -I)_%N.log ;\
    ps >> $BUGGER_LOGPATH/$(/usr/bin/date -I)_%N.log ;\
    ls -l -n -R /dev >> $BUGGER_LOGPATH/$(/usr/bin/date -I)_%N.log ;\
    printf '====== sl -lR /etc =====\n' >> ${BUGGER_LOGPATH}/$(/usr/bin/date -I)_%N.log ;\
    ls -l -n -R /etc >> $BUGGER_LOGPATH/$(/usr/bin/date -I)_%N.log ;\
    /usr/bin/chmod 0600  ${BUGGER_LOGPATH}/$(/usr/bin/date -I)_%N.log; \
    /usr/bin/chown %u    ${BUGGER_LOGPATH}/$(/usr/bin/date -I)_%N.log; \
"

[Install]
WantedBy=harbour-bugger-gather-logs.target
